{% load static %}

<html>
	<head>
		<title>CODERS HUB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static 'assets/css/new1.css/' %}">
        <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b764a53ebc.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <style>
            .inp{
                width: 90% !important;
                border-radius: 20px !important;
                text-align: center !important;
                margin:auto !important;
                transition:width .2s;
                color:white;
                background-color:rgb(63, 74, 82)
            }
            .inp:focus{
                width:94% !important;
                box-shadow: none !important;
                color:white;
                border:none !important;
                

            }
            
            .bt{
                border-radius: 20px !important;
                background-color: #235b7a !important;
                color:white !important;
                width:180px;
                transition: transform .2s;

            }
            .bt:hover{
                cursor:pointer;
                transform: scale(1.05); 
                box-shadow: none !important;
                color:white !important
            }
        </style>
    </head>
    <body class="is-preload" >

        <!-- Header -->
            <header id="header" style="position:absolute">
                <a class="logo" href="index">CODERS HUB</a>
                <nav>
                    {% if user.is_authenticated %}
                    <i class="fa fa-user" style="font-size:24px;text-align:center;display:inline-block" aria-hidden="true" ></i>
                    <button style="background-color:transparent;color:#ff192a;padding-left:5px;padding:1px 0.55rem;display:inline-block" >{{user.first_name}}</button>
                    <!--<div id="hidlogout" style="background-color:transparent;color:#ff192a;padding-right:13px;display:inline-block"><a="logout" style="text-decoration:none;color:#ff1818cc">LogOut</a></div>-->
                    <button style="background-color:transparent;color:#ff192a;padding-right:11px;display:inline-block;padding: 0px 0.8rem;" onclick="location.href='logout'">LogOut</button>
                    {% else %}
                    <button style="background-color:transparent;color:#a51313;" onclick="toggle_visibility()">SignIn/Register</button>			
                    {% endif %}

                    <a href="#menu" style="display:inline-block">Menu</a>
                </nav>  
            </header>
            <div class="form-popup" id="myForm">
                <form action="login" class="form-container" method="POST" autocomplete="off">
                    {% csrf_token %}
                  <h1 style="color:#ffffff">Login</h1>
              
                  <label for="email"><b style="color:white">Username</b><div id="error_msg1" style="font-size: 10px;display:none;color:red">&nbsp;&nbsp;&nbsp;&nbsp; *Enter Valid Username</div></label>
                  
                  <input type="text" id="email_login" placeholder="Enter Username" name="uname" onchange="validateLogin()" required>
                
                  <label for="psw" ><b style="color:white">Password</b> <div id="error_msg2" style="font-size: 10px; display: none;color:red">*Password must be between 8 to 15 characters with at least one lowercase letter, one uppercase letter, one numeric digit, and one special character</div></label>
                  <input type="password" id="pwd_login" placeholder="Enter Password" name="psw" onchange="validateLogin()" required>
                 
                  <button type="submit" class="btn">Login</button>
                  
                  <button type="button"  class="btn cancel" onclick="openRegisterForm()" >New user</button>
                  <p style="text-align:center">Forgot Password?</p>
                </form>
              </div>
              <div class="form-popup" id="myForm2" style="height: 707px;">
                <form action="register" method="POST" class="form-container">
                    {% csrf_token %}
                  <h1 style="color:#ffffff">Register</h1>
              
                  <label for="fname" ><b style="color:white">First Name</b></label>
                  <input type="text" placeholder="Enter Full Name" name="fname" required>
                  <label for="fname" ><b style="color:white">Last Name</b></label>
                  <input type="text" placeholder="Enter Full Name" name="lname" required>
                  <label for="lname" ><b style="color:white">Username</b></label>
                  <input type="text" placeholder="Enter Username" name="username" required>

                  <label for="email" ><b style="color:white">Email-Id</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required>
        
                  <label for="psw" ><b style="color:white">New Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
                  <label for="psw" ><b style="color:white">Confirm Password</b></label>
                  <input type="password" placeholder="Retype Password" name="rpsw" required>
                  <button type="submit"  class="btn cancel"  style="width:100%" onsubmit="return validateRegister()">Register Now!</button>
                </form>
            </div>
            <nav id="menu">
                <ul class="links">
                    <li><a href="home">Home</a></li>
                    <li><a href="elements.html">Elements</a></li>
                    <li><a href="about">About Us</a></li>
                </ul> 
            </nav>
            <div class="row" style="display:grid;grid-template-columns:1fr 0.1fr 1fr ;grid-gap:16px;height:90%" >
            <div style="width: 77%;height:100%;margin-top:7%;margin-left:13%;margin-right:auto;background-color:#22232c;box-shadow:0px 0px 30px gray;border-radius:10px">
                <div style="padding:20px;text-align:center;padding-left:0px">
                <h1 style="font-size:40px;color:whitesmoke">Salary Predictor Based On Experience</h1><br><br><br><br><br><br><br>
                <form action="salarypredictionresult" method="GET">
                    <label style="font-size: 20px;color:white">Enter Years Of Experience</label>
                    <input class="inp" type="text" placeholder="Enter Years of Experience in years" name="yoe" required>  
                    
                    <br>
                    <button type="submit" class="bt">Predict!</button>
                </form>
                </div>
                <span style="bottom:55px;position:absolute;color:whitesmoke;font-size:12px">*Note- Predictions are approximations real value may differ from predictions displayed</span>
                </div>
            <div style="margin-top:330%;width:100px;height:100px">
                <i class="fas fa-arrow-circle-right fa-5x"></i>
            </div>
                <div style="width:77%;height:100%;margin-top:7%;margin-left:15%;background-color:#111111;box-shadow:0px 0px 30px gray;border-radius:10px">
                    <div style="padding:20px;text-align:center;;">
                    <h1 style="color:dbdbdb">Result:</h1><br><br><br><br><br>
                    </div>
                    <span style="bottom:55px;position:absolute;color:whitesmoke;font-size:12px">*Note- Predictions are approximations real value may differ from predictions displayed</span>
                    </div>
            </div>

            <br><br><br>

             	<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>Sem turpis amet semper</h4>
							<ul class="alt">
								<li><a href="#">Dolor pulvinar sed etiam.</a></li>
								<li><a href="#">Etiam vel lorem sed amet.</a></li>
								<li><a href="#">Felis enim feugiat viverra.</a></li>
								<li><a href="#">Dolor pulvinar magna etiam.</a></li>
							</ul>
						</section>
						<section>
							<h4>Magna sed ipsum</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>
       


            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
              AOS.init();
            </script>




            <script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-_RHlOhsIBOTU20mJc8OvTC3ZF_nsb_o&callback=initMap"></script>
            <script>
                function toggle_visibility()
                 {
                    var e = document.getElementById("myForm");
                    var e1 = document.getElementById("myForm2");
                    if(e.style.display == 'block' || e1.style.display=="block" )
                    {
                        e.style.display = 'none';
                        e1.style.display='none';
                    }		
                    else
                        e.style.display = 'block';
                }
                function toggle_visibility_login()
                 {
                    var f = document.getElementById("hidlogout");
                    if(f.style.display == 'block')
                    {
                        f.style.display = 'none';
                    }		
                    else
                        f.style.display = 'block';
                }

                function validateLogin()
                {

                    var input_email=document.getElementById("email_login").value;
                    if (input_email.substring(input_email.length-4,input_email.length)!=".com" && input_email.length!=0 || input_email.indexOf("@")<1 && input_email.length!=0  )
                    {
                       document.getElementById("error_msg1").style.display="inline-block";
                    }
                    else
                    document.getElementById("error_msg1").style.display="none";

                    var input_pwd=document.getElementById("pwd_login").value;
                    var reg=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
                    if(	input_pwd.match(reg)==null && input_pwd.length!=0) 
                        { 
                            document.getElementById("error_msg2").style.display="inline-block";
                            document.getElementById("myForm").style.height="407px";
                            
                        }
                    else{
                        
                    document.getElementById("error_msg2").style.display="none";
                    document.getElementById("myForm").style.height="362px";
                    }
                    
                }

                function openRegisterForm()
                 {
                    document.getElementById("myForm").style.display = "none";
                    document.getElementById("myForm2").style.display = "block";
                }
            </script>
        	<script type="text/javascript">
				/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
				(function(d, m){
				  var kommunicateSettings = {"appId":"19fa8e755b60b29c0a9c5e7775b105068","popupWidget":true,"automaticChatOpenOnNavigation":true};
				  var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
				  s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
				  var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
				  window.kommunicate = m; m._globals = kommunicateSettings;
				})(document, window.kommunicate || {});
			</script>
            
            <script src="{% static 'assets/js/browser.min.js' %}"></script>
            <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
            <script src="{% static 'assets/js/util.js' %}"></script>
            <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>    

<!-- <form action="salarypredictionresult" method="GET">
    <label>Enter Years Of Experience</label>
    <input type="text" placeholder="Enter Years of Experiene" value={{input}} name="yoe" required>  
    <label for="Answer">Prediction: </label>
    <input id="Answer" type="text" value = {{answer}} name="Answer">
    <button type="submit">Predict!!</button>
</form> -->